DATABASE_URL="postgresql://neondb_owner:*****@ep-falling-boat-at2lm5qc.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require"

JWT_SECRET=your_jwt_secret
PORT=3000

NEROTIX_BASE_URL=https://api.nerofy.in/api/v1
NEROTIX_TOKEN=your_nerotix_token

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret

SMTP_HOST=your_smtp_host
SMTP_PORT=587
SMTP_USER=your_email_user
SMTP_PASS=your_email_password
SMTP_FROM="IDProofPro <no-reply@yourdomain.com>"